doctype html

div.wrapper(
    tg-project-modules
    ng-controller="ProjectProfileController as ctrl"
    ng-init="section='admin'; sectionName='ADMIN.MODULES.TITLE'"
)
    tg-project-menu
    sidebar.menu-secondary.sidebar.settings-nav(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="modules")
        include ../includes/modules/admin-submenu-project-profile

    section.main.admin-functionalities
        header
            include ../includes/components/mainTitle
            
        form.module-container
            .module.module-scrum(ng-class="{true:'active', false:''}[project.is_backlog_activated]")
                .module-icon
                    svg.icon.icon-scrum
                        use(xlink:href="#icon-scrum")
                .module-name(translate="ADMIN.MODULES.BACKLOG")
                .module-desc
                    p(translate="ADMIN.MODULES.BACKLOG_DESCRIPTION")
                    .module-desc-options(ng-if="project.is_backlog_activated")
                        fieldset
                            label(for="project-sprints") {{ 'ADMIN.PROJECT_PROFILE.NUMBER_SPRINTS' | translate }}
                            input(
                                type="number"
                                name="total_milestones"
                                min="0"
                                placeholder="{{'ADMIN.PROJECT_PROFILE.NUMBER_SPRINTS_HELP' | translate}}"
                                id="project-sprints"
                                ng-model="project.total_milestones"
                                data-type="digits"
                            )

                        fieldset
                            label(for="total-story-points") {{ 'ADMIN.PROJECT_PROFILE.NUMBER_US_POINTS' | translate }}
                            input(
                                type="number"
                                name="total_story_points"
                                min="0"
                                placeholder="{{'ADMIN.PROJECT_PROFILE.NUMBER_US_POINTS_HELP' | translate}}"
                                id="total-story-points"
                                ng-model="project.total_story_points"
                                data-type="digits"
                            )
                        svg.icon.icon-save(ng-if="project.is_backlog_activated")
                            use(xlink:href="#icon-save")
                .module-activation.module-direct-active
                    div.check
                        input.activate-input(
                            type="checkbox"
                            ng-checked="project.is_backlog_activated"
                            id="functionality-backlog"
                            ng-model="project.is_backlog_activated"
                        )
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")

            .module.module-kanban(ng-class="{true:'active', false:''}[project.is_kanban_activated]")
                .module-icon
                    svg.icon.icon-kanban
                        use(xlink:href="#icon-kanban")
                .module-name(translate="ADMIN.MODULES.KANBAN")
                .module-desc(translate="ADMIN.MODULES.KANBAN_DESCRIPTION")
                .module-activation.module-direct-active
                    div.check
                        input.activate-input(
                            type="checkbox"
                            ng-checked="project.is_kanban_activated"
                            id="functionality-kanban"
                            ng-model="project.is_kanban_activated"
                        )
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")
                        
            .module.module-issues(ng-class="{true:'active', false:''}[project.is_issues_activated]")
                .module-icon
                    svg.icon.icon-issues
                        use(xlink:href="#icon-issues")
                .module-name(translate="ADMIN.MODULES.ISSUES")
                .module-desc(translate="ADMIN.MODULES.ISSUES_DESCRIPTION")
                .module-activation.module-direct-active
                    div.check
                        input.activate-input(
                            type="checkbox"
                            ng-checked="project.is_issues_activated"
                            id="functionality-issues"
                            ng-model="project.is_issues_activated"
                        )
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")
                        
            .module.module-wiki(ng-class="{true:'active', false:''}[project.is_wiki_activated]")
                .module-icon
                    svg.icon.icon-wiki
                        use(xlink:href="#icon-wiki")
                .module-name(translate="ADMIN.MODULES.WIKI")
                .module-desc(translate="ADMIN.MODULES.WIKI_DESCRIPTION")
                .module-activation.module-direct-active
                    div.check
                        input.activate-input(
                            type="checkbox"
                            ng-checked="project.is_wiki_activated"
                            id="functionality-wiki"
                            ng-model="project.is_wiki_activated"
                        )
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")

            .module.module-videoconference(ng-class="{true:'active', false:''}[isVideoconferenceActivated]")
                .module-icon
                    svg.icon.icon-bubble-empty
                        use(xlink:href="#icon-bubble-empty")
                .module-name(translate="ADMIN.MODULES.MEETUP")
                .module-desc
                    p(translate="ADMIN.MODULES.MEETUP_DESCRIPTION")
                    div.videoconference-attributes
                        select(
                            id="functionality-video"
                            ng-model="project.videoconferences"
                            ng-options="e.id as e.name|translate for e in [{'id':'appear-in', 'name':'ADMIN.MODULES.APPEARIN_CHAT_ROOM'},{'id':'jitsi', 'name': 'ADMIN.MODULES.JITSI_CHAT_ROOM'},{'id':'talky', 'name': 'ADMIN.MODULES.TALKY_CHAT_ROOM'},{'id':'custom', 'name': 'ADMIN.MODULES.CUSTOM_CHAT_ROOM'}]")
                            option(
                                value=""
                                translate="ADMIN.MODULES.SELECT_VIDEOCONFERENCE"
                            )
                        fieldset(ng-if="project.videoconferences && project.videoconferences != 'custom'")
                            input(
                                type="text"
                                ng-model="project.videoconferences_extra_data"
                                data-maxlength="255"
                                placeholder="{{'ADMIN.MODULES.SALT_CHAT_ROOM' | translate}}"
                                ng-value="project.name"
                                data-required="true"
                            )
                        fieldset(ng-if="project.videoconferences == 'custom'")
                            input(
                                type="text"
                                ng-model="project.videoconferences_extra_data"
                                data-maxlength="255"
                                placeholder="{{'ADMIN.MODULES.URL_CHAT_ROOM' | translate}}"
                                data-required="true"
                            )
                        svg.icon.icon-save(ng-if="project.videoconferences")
                            use(xlink:href="#icon-save")
                            
                .module-activation
                    div.check
                        input.activate-input(
                            type="checkbox"
                            id="functionality-video"
                            ng-checked="project.isVideoconferenceActivated"
                            ng-model="isVideoconferenceActivated"
                        )
                        div
                        span.check-text.check-yes(translate="COMMON.YES")
                        span.check-text.check-no(translate="COMMON.NO")
